:root{
    font-family: "Inter"; /* задаєм дефолтні значення для всієї сторінки */
    font-weight: 400;
    font-size:   24px;
    line-height: 1.333333;
    margin: 0;
    box-sizing: border-box; /* властивість яка потрібна щоб в елемент 
                            враховувались межі відступів, а не тільки контент*/
}
*,
*::after,
*::before{
    box-sizing: inherit; /* рядок який говорить що всі елементи
                         мають наслідувати значення рута */
}
body{
    margin: 10px;
}

/* Навігаційне меню та логотоп */

nav{
    width: 100%;
    height: 172px;
    background-color: rgba(222, 222, 222, 0.90);
    border-radius: 10px;
}
nav > .nav-bar{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    padding: 0px 34px;
    margin-right: 93px;
}
.nav-menu > li > a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    color: #030303;
}
.nav-menu > li > a:hover {
    color: #fff;
    transition: all .4s ease-in-out;
}
.nav-menu > li {
    display: inline-block;
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(238, 238, 238, 1);
}
.nav-menu > li:hover {
    display: inline-block;
    padding: 15px;
    border-radius: 20px;
    background-color: #898989;
    transition: all .4s ease-in-out;
    color: #fff;
}
.nav-menu > li:nth-child(2){
    margin: 0px 24px 0px 24px
}
.nav-menu > li:nth-child(3){
    margin: 0px 24px 0px 0px;
}
.nav-bar-logo {
    font-family: 'Inknut Antiqua';
    font-size: 96px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    margin: 4px auto 4px 140px;
}

/* основний вміст */

article {
    margin: 10px 0px 10px 0px;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 10px;
    padding: 0px 174px 0px 174px;
}
article > h1 {
    margin: 0px;
    padding-top: 30px;
    text-align: center;
    font-size: 50px;
    font-family: 'Inter';
    letter-spacing: 30px;
}
.main-information {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;

}
.main-information:last-child {
    margin-bottom: 10px;

}
.main-information > img {
    width: 446px;
    height: 287px;

}
.head-main-info {
    text-align: center;
    margin: 0px 0px 35px 0px;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 400;
}
.text-main-info {
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 400;
    margin: 0px;
}
section {
    padding: 90px 0px 22px 0px;
}
.main-text:nth-child(odd) {
    margin-right: 80px;
}
.main-text:nth-child(even) {
    margin-left: 80px;
}

/* підвал */

footer {
    background-color: #6D6D6D;
    color: #fff;
    border-radius: 10px;

}
.footer-info {
    display: flex;
    justify-content: space-between;
    margin: 12px 174px 16px 174px;

}
.adressa-number > h2 {
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 400;
}

.link-documents > h2 {
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 400;
}
.social-media > h2 {
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 400;
}
.adressa-number > p {
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 400;
}

.link-documents > p {
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 400;
}
.social-media > p {
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 400;
}
.social-media > img {
    width: 40px;
    height: 40px;
}
.copyright {
    margin-left: 180px;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter';
}
@media screen and (max-width: 620px){
    :root{
        font-size: 14px;
        line-height: 1.5;
    }

    /* Навігаційне меню та логотоп */

    .nav-menu{
        display: none;
    }
    nav {
        padding-left: 6px;
        padding-right: 7px;
    }
    .nav-bar-logo {
        margin: 4px 0px 23px 10px;
    }

    /* основний вміст */

    article{
        padding: 0px 7px 0px 6px;
    }
    article > h1 {
        margin: 0px;
        padding-top: 30px;
        text-align: center;
        font-size: 24px;
        font-family: 'Inter';
        letter-spacing: 30px;
    }
    section {
        padding: 23px;;
    }
    .main-information{
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        order: 1;
    }
    .main-text {
        margin: 0px;
        order: 2;
    }
    .main-text:nth-child(odd) {
        margin-right: 0px;
    }
    .main-text:nth-child(even) {
        margin-left: 0px;
    }
    img {
        max-width: 100%;
        height: auto;
        margin-top: 15px;
    }
    .main-text > h2{
        margin-top: 15px;
        margin-bottom: 0px;
    }
    .main-text > p {
        margin-top: 6px;
        margin-bottom: 15px;
    }
    hr {
        margin: 0px;
    }
}   